<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Authentication</title>
    <link rel="stylesheet" href="" />
  </head>
  <body>
    {% for message in messages %}
    <div
      class="alert alert-{{ message.tags }} alert-dismissable fade show"
      role="alert"
    >
      <strong>Message: {{ message }}</strong>
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    
    <h3>Sign Up</h3>

    <form action="/signup" method="post">
      {% csrf_token %}

      <label>Username</label>
      <input type="text" id="username" name="username" placeholder="Username" />
      </br>

      <label>First Name</label>
      <input type="text" name="firstname" placeholder="First Name" />
      </br>

      <label>Last Name</label>
      <input type="text" name="lastname" placeholder="Last Name" />
      </br>

      <label>Email Address</label>
      <input type="email" name="email" placeholder="Email Address" />
      </br>

      <label>Password</label>
      <input type="password" name="password" placeholder="Password" />
      </br>
      
      <label>Verify Password</label>
      <input
        type="password"
        name="verifypassword"
        placeholder="Verify Password"
      />

      <button type="submit">Sign Up</button>
    </form>

    <script src=""></script>
  </body>
</html>
