{% extends 'shared/base.html' %} 

{% block content %}

    {% comment %} <form action="/signup" method="post">
      {% csrf_token %}

      <label>Username</label>
      <input type="text" id="username" name="username" placeholder="Username" />
      </br>

      <label>First Name</label>
      <input type="text" name="firstname" placeholder="First Name" />
      </br>

      <label>Last Name</label>
      <input type="text" name="lastname" placeholder="Last Name" />
      </br>

      <label>Email Address</label>
      <input type="email" name="email" placeholder="Email Address" />
      </br>

      <label>Password</label>
      <input type="password" name="password" placeholder="Password" />
      </br>
      
      <label>Verify Password</label>
      <input
        type="password"
        name="verifypassword"
        placeholder="Verify Password"
      />

      <button type="submit">Sign Up</button>
    </form> {% endcomment %}

<div
  class="is-flex is-justify-content-center is-align-items-center"
  style="height: 70vh"
>
  <form class="box" action="/signup" method="post" style="width: 50vw">
    {% csrf_token %}

    <div class="field">
      <label class="label">Username</label>
      <div class="control">
        <input class="input" type="text" name="username" placeholder="Username"/>
      </div>
    </div>

    <div class="field">
      <label class="label">First Name</label>
      <div class="control">
        <input class="input" type="text" name="firstname" placeholder="Username"/>
      </div>
    </div>

    <div class="field">
      <label class="label">Last Name</label>
      <div class="control">
        <input class="input" type="text" name="lastname" placeholder="Username"/>
      </div>
    </div>

    <div class="field">
      <label class="label">Email Address</label>
      <div class="control">
        <input class="input" type="email" name="email" placeholder="Username"/>
      </div>
    </div>

    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input class="input" type="password" name="password" placeholder="********"/>
      </div>
    </div>

    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input class="input" type="password" name="verifypassword" placeholder="********"/>
      </div>
    </div>

    <button type="submit" class="button is-primary is-pulled-right mt-1">
      Create account
    </button>
  </form>
</div>

{% endblock %}