{% extends 'shared/base.html' %} 

{% block content %}
<div
  class="is-flex is-justify-content-center is-align-items-center"
  style="height: 70vh"
>
  <form class="box" action="/auth/signup/" method="post" style="width: 50vw">
    {% csrf_token %}

    <div class="field">
      <label class="label">Username</label>
      <div class="control">
        <input class="input" type="text" name="username" placeholder="Username"/>
      </div>
    </div>

    <div class="field">
      <label class="label">First Name</label>
      <div class="control">
        <input class="input" type="text" name="firstname" placeholder="Username"/>
      </div>
    </div>

    <div class="field">
      <label class="label">Last Name</label>
      <div class="control">
        <input class="input" type="text" name="lastname" placeholder="Username"/>
      </div>
    </div>

    <div class="field">
      <label class="label">Email Address</label>
      <div class="control">
        <input class="input" type="email" name="email" placeholder="Username"/>
      </div>
    </div>

    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input class="input" type="password" name="password1" placeholder="********"/>
      </div>
    </div>

    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input class="input" type="password" name="password2" placeholder="********"/>
      </div>
    </div>

    <button type="submit" class="button is-primary is-pulled-right mt-1">
      Create account
    </button>
  </form>
</div>

{% endblock %}