<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Authentication</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
  </head>

  <body style="height: 100vh">
    <nav class="navbar pl-5 pr-5" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <span class="is-size-4 has-text-primary">
            <strong>Django Notes</strong>
          </span>
        </a>
      </div>

        {% if user.is_authenticated %}
          <div class="navbar-end">
            <div class="navbar-item">
              <h4>
                <strong class="mr-2">Hello, {{ user.first_name.capitalize }}</strong>
              </h4>
              <div class="buttons">
                <a class="button is-light" href="/auth/signout">
                  <strong>Sign out</strong>
                </a>
              </div>
            </div>
          </div>

        {% else %}
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary" href="/auth/signup">Sign up</a>
              <a class="button is-light" href="/auth/signin">Log in</a>
            </div>
          </div>
        </div>
        {% endif %}
    </nav>

    {% for message in messages %}
    <div
      style="position: absolute; left: 0; right: 0; z-index: 999"
      class="m-5 notification is-info is-light alert-{{ message.tags }}"
      role="alert"
    >
      <strong>{{ message }}</strong>
      <button
        type="button"
        class="delete"
        data-dismiss="alert"
        aria-label="Close"
        onclick="removeMessage(this);"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %} {% block content %}{% endblock %}

    <script>
      function removeMessage(buttonElement) {
        var messageDiv = buttonElement.parentElement;
        messageDiv.remove();
      }
    </script>
  </body>
</html>
